<h1>Showing Message details</h1>
<p><strong>Message: </strong> <%= @messages.message %></p>
<p><strong>Date&Time: </strong> <%= @messages.created_at %></p>


<p>
  <%= link_to 'Return to Message Inbox', messages_path %>
</p>


